{% extends 'partials/base.html' %}
{% block title %} Graficos {% endblock %}
{% block content %}

{{ dados|json_script:"fluxo-caixa" }}
{{ data|json_script:"data"}}
<h1> Fluxo de Caixa (criando) </h1>
<script>
    // var data = JSON.parse(document.getElementById('data').textContent);
    // console.log(data)
    // var labels = []
    // var data = fluxo_caixa.map(function(item, indice){
    //         labels.push(item.descricao)
    //         return item.valor;
    // });
</script>

<!DOCTYPE html>
<html>

<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>

<body>

    <h2>HTML Table</h2>

    <table id="cashFlowTable">
        <tr>
            <th>Year</th>
            <th>Capex</th>
            <th>Incoming</th>
            <th>COM</th>
            <th>Gross profit</th>
            <th>Depreciation</th>
            <th>Income Tax Base </th>
            <th>FV</th>
            <th>PV</th>

            </select>

        </tr>
        {% for k, v in dados.items %}
        <tr>
            <td> {{v.year}} </td>
            <td> {{v.CCF}} </td>
            <td> {{Brasil}} </td>
        </tr>
    
        {% endfor %}

    </table>


<script>

updateTableValues()
function updateTableValues(){
    var data = JSON.parse(document.getElementById('data').textContent);
    console.log(data)
    var tbl =  document.getElementById("cashFlowTable")
    var row = tbl.insertRow(2);
    var cell1 = row.insertCell(0);
    var cell2 = row.insertCell(1);
    cell1.innerHTML = "NEW CELL1";
    cell2.innerHTML = "NEW CELL2";
}

function appendTr(tbl){
    var tbl =  document.getElementById("cashFlowTable")




}

function appendTd(tr){

}


</script>



</body>

</html>



<!-- {% include 'graphics/char.html' %} -->

{% endblock %}
{% block scripts %}

{% endblock %}