{% extends 'partials/base.html' %}
{% block title %} Graficos {% endblock %}
{% block content %}

    <h1> Listagem de Equacoes e Métodos </h1>

    <p>-------------------------------------------------------------------------------------------------</p>
    <h3> Metodo de GUTHRIE</h3>

    <div class="cmath">`C_(bm) = C_(0p)*(I / I_(b) )*[F_(bm) + ((F_(d)*F_(p)*F_(m) )-1 )] `</div>

    <p>-------------------------------------------------------------------------------------------------</p>
    <h3> Metodo de capex</h3>

    <div class="cmath">`C_(bm) = C_(0p)*(I / (Ib) )*[B1 + (B2*F_(p)*F_(m))] = C_(0p)(I/(In))F_(BM)`</div>
    
    <p>-------------------------------------------------------------------------------------------------</p>

{% endblock %}
{% block scripts %}
    
{% endblock %}