{% extends 'partials/base.html' %}
{% block title %} Graficos {% endblock %}
{% block content %}

{{ dados|json_script:"fluxo-caixa" }}
{{ data|json_script:"data"}}


<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td,
    th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }


    .hideValue0 {
        opacity: 0;

    }

    th {
        text-align: center;
    }
</style>




<div>
    <table id="teste">
        <tr>
            <th>Net Present Value: {{npv}}</th>
            <th> Payback Discounted Value: {{pbtime.0}} years and {{pbtime.1}} days</th>
            <th>Internal Rate of Return - IRR {{irr}}</th>
        </tr>
    </table>
</div>




<h2>Cash Flow Table</h2>
<table id="cashFlowTable">
    <tr>
        <th>Year</th>
        <th>Investiment</th>
        <th>dK</th>
        <th>Revenue</th>
        <th>COMd</th>
        <th>Net Profit</th>
        <th>Cash Flow - Non Disconted </th>
        <th>Cash Flow Disconted</th>
        <th>Cumulative Non Discounted</th>
        <th>Cumulative Discounted</th>
        </select>
    </tr>
    {% for a, b,c,d,e,f,g,h,i,j in values %}
    <tr>
        <td> {{a}} </td>
        <td class="hideValue{{b}}"> {{b}} </td>
        <td class="hideValue{{c}}"> {{c}} </td>
        <td class="hideValue{{d}}"> {{d}} </td>
        <td class="hideValue{{e}}"> {{e}} </td>
        <td class="hideValue{{f}}"> {{f}} </td>
        <td class="hideValue{{g}}"> {{g}} </td>
        <td class="hideValue{{h}}"> {{h}} </td>
        <td class="hideValue{{i}}"> {{i}} </td>
        <td class="hideValue{{j}}"> {{j}} </td>
    </tr>

    {% endfor %}

</table>

{% include 'graphics/char.html' %}

{% endblock %}
{% block scripts %}

{% endblock %}