
<h3 id="chartTitle" style="text-align: center;"> Cash Flow: Cumulative Discounted Cash over Time </h3>

<div class="chart-container" style="position: relative; height:40vh; width:auto;">
<canvas id="cashFlow"></canvas>
</div>
<p><br></p>
<script>
var ctx = document.getElementById('cashFlow').getContext('2d');
var cashFlow = new Chart(ctx, {
    type: 'line',
    data: {
        labels: [{% for year in chartXValues %}  '{{ year }}', {% endfor %} ],
        datasets: [{
            label: 'Fluxo de Caixa',
            data: [{% for cash in chartYValues %} '{{ cash }}', {% endfor %} ],
            backgroundColor: [
                'rgba(60, 60, 60, 0.2)',
            ],
            borderColor: [
                'rgba(75, 192, 192, 1)',
            ],
            fill: false,
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});

</script>