.env
.pyc
analicap/.env.*
analicap/*.teste
/docker/
**/__pycache__
/__pycache__/
__pycache__/
analicap/__pycache__/*
analicap/__pycache__/settings.cpython-38.pyc
apps/usuarioapp/__pycache__/*
apps/capex/migrations/*
apps/opex/migrations/*
venv/
/venv/
venv/*
run_app.sh
db/dockerdb
docker-compose.yml
Dockerfile
