{% load static %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Stylesheet -->
  <!--link rel="stylesheet" href="{% static 'css/styles.css' %}"-->

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.css' %}">
  <!-- Chartjs CDN -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>

  <!-- JQuery -->
  <script src="{% static 'js/jquery/jquery-3.6.0.min.js' %}"></script>
  <script src="{% static 'js/plugins/plugins.js' %}"></script>
  <!-- Mathjax -->

  <!--script async="true" src="https://cdn.jsdelivr.net/npm/mathjax@2/MathJax.js?config=AM_CHTML"> </script-->

  <!-- Font-Awesome -->
  <link rel="stylesheet" href="{% static 'fa/css/all.min.css' %}">

  <title>
    {% block title %} {%endblock%}
  </title>
</head>

<body class="bg-light">
  {% include 'partials/nav.html' %}
  <div id="main-content">
    <div class="container main-content">
      {% block content %}
      {% endblock %}
    </div>

    <!-- Optional JavaScript; choose one of the two! -->
    {% block scripts %}
    {% endblock %}

    <script>
      $(document).ready(function () {
        $('.date').mask('00/00/0000');
        $('.money').mask("#.##0,0", {
          reverse: true
        });

      });
    </script>

    <script src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}" ></script>


  </div>
</body>

</html>