{% extends 'partials/base.html' %}
{% block title %} Equipamento {% endblock %}
{% block content %}

    <h1> Detalhe de equipamentos </h1>

        <!-- ##### List of Equipments Area ##### -->
        <section class="best-receipe-area">
            <div class="container">
                <div class="row">
                    {% if equipamento %}
                    <ul>
                        <!-- Equipment Detail -->
                        <li>{{equipamento.name}}</li>
                        <li>K1 = {{constantes.k1}}</li>
                        <li>K2 = {{constantes.k2}}</li>
                        <li>K3 = {{constantes.k3}}</li>
                        
                    </ul>
    
                    {% else %}
                        <p>  NÃO HÁ EQUIPAMENTO DISPONÍVEL NO MOMENTO  </p>
                    {% endif %}
                </div>
    
            </div>
        </section>

{% endblock %}
{% block scripts %}
    
{% endblock %}