{% extends 'partials/base.html' %}
{% block title %} Graficos {% endblock %}
{% block content %}



<!-- OPÇÕES SUPERIORES -->
{% if project %}
    
{% include 'custos/opex_config/config_form.html'%}

{% else %}
<h1>  THERE IS NO PROJECT AT THIS MOMENT.  </h1>

<div class="btn-group">
    <a class="btn btn-secondary" href="{% url 'capex:createProject'  %}" role="button">Project a new unity</a>
    <!--button type="button" href="#" class="btn btn-secondary">Editar Projeto</button-->
</div>

{% endif %}


{% endblock %}
{% block scripts %}
    
{% endblock %}


