<!-- Relação de scripts a serem implementados ao final de cada formulário de inserção de equipamento.
    As funções aqui necessitam de duas funções auxiliares inseridas no em cada form. 
-->
<script>
    var wasPosted = false
    $(document).ready(function () {
        $('.date').mask('00/00/0000');
        $('.money').mask('000.000.000.000.000,00', {
            reverse: true
        });
        $('.money2').mask("$ #.##0,00", {
            reverse: true
        });

    });

    function updateBareFields(){
        let endpoint = "{% url 'turton:calculateCost' project equipment_id %}";
        if (checkMandatoryFields()) {
            checkCost(endpoint, getData())
        }
    }

    $('.typeEquipment').change(function () {
        updateBareFields()

    });


    $('#insertEquipmentForm').submit(function (e) {

        e.preventDefault()
        let data = getData();
        form = $(this);        
        let attribute_dimension = document.getElementById('attribute_dimension').value;
        if (checkMandatoryFields()){
            $.ajax({
                method: "GET",
                url: "{% url 'turton:attributerange' equipment_id 999 %}".replace(999, attribute_dimension),
                data: data,
                success: function (response) {
                    range = isBetweenRanges(response, data["equipment_attribute"], data[
                        "attribute_name"])
                    if (range["confirmed"] && checkMandatoryFields()) {
                        $.ajax({
                            type: 'POST',
                            url: $("form").attr("action"),
                            data: $("form").serialize(),
                            success: function(response){
                                alert("Equipamento inserido com sucesso")
                                document.getElementById("returnButton").click()

                            },
                            error: function(error_data){
                                alert("Houve algum problema durante o envio, favor entrar em contato com administrador")
                            }
                        })
                    } else {
                        if (confirm("Não foi possível continuar. " + range["message"])) {
                            document.getElementById('equipment_attribute').value = range["alternative"]
                            updateBareFields()
                        }
                    }
                },
                error: function (error_data) {
                    alert("Ops, houve algum erro. Por favor, verifique os campos e tente novamente")
                    console.log("Ajax request error: attribute dimension couldn't be confirmed.")
                },
            })
            ;
        }else{
            alert("Por favor, confirme se não ha nenhum campo vazio")
        }
        var wasPosted = true
    });

    function postForm(form){
        var wasPosted = true
        form.submit()

    }
   

    $('#equipment_attribute').change(function () {
        updateBareFields()
    });

    $('#spares').change(function () {
        updateBareFields()
    });

    $('#attribute_dimension').change(function () {
        updateBareFields()
    });

    function checkCost(endpoint, data) {
        $.ajax({
            method: "GET",
            url: endpoint,
            data: data,
            success: function (data) {
                updateCostFields(data)

            },
            error: function (error_data) {
                console.log(error_data)
            },
        });

    }

    function isBetweenRanges(range, value, name) {

        ordermax = Math.log10(range["max"])
        ordermin = Math.log10(range["min"])
        if (ordermax>0) {
            range["max"] = Number((range["max"]).toFixed(2))
            printmax = String( (range["max"] ))
        }
        else{
            printmin = Number(range["max"]).toPrecision(Math.abs(ordermax)+3)
            range["max"] = Number(range["max"].toFixed(Math.abs(ordermax)+3))
        }

        if (ordermin>0) {
            range["min"] = Number((range["min"]).toFixed(2))
            printmin = String(range["min"])
        }
        else{
            printmin = Number(range["min"]).toPrecision(Math.abs(ordermax)+3)
            range["min"] = Number(range["min"].toFixed(Math.abs(ordermax)+3))
        }


        if (value > range["max"]) {
            confirmed = false
            message = "O valor do campo " + name + " é maior do que " + printmax +
                ". Deseja substituir o valor pelo valor máximo ?"
            alternative = range["max"]

        } else if (value < range["min"]) {
            confirmed = false
            message = "O valor do campo " + name + " é menor do que " + printmin +
                ". Deseja substituir o valor pelo valor mínimo ?"
            alternative = range["min"]
        } else {
            confirmed = true
            message = null
            alternative = null
        }

        return {
            'confirmed': confirmed,
            'message': message,
            'alternative': alternative
        }

    }

    function updateCostFields(data) {
        document.getElementById('bareCost').value = data["bareCost"].toFixed(2)
        document.getElementById('bareModule').value = data["bareModule"].toFixed(2)
    }



    $('#fakeButton').click(function () {
        let data = getData();

        let attribute_dimension = document.getElementById('attribute_dimension').value;
        if (checkMandatoryFields()){
            $.ajax({
                method: "GET",
                url: "{% url 'turton:attributerange' equipment_id 999 %}".replace(999, attribute_dimension),
                data: data,
                success: function (response) {
                    range = isBetweenRanges(response, data["equipment_attribute"], data[
                        "attribute_name"])
                    if (range["confirmed"] && checkMandatoryFields()) {
                        document.getElementById("postButton").click()
                    } else {
                        if (confirm("Não foi possível continuar. " + range["message"])) {
                            document.getElementById('equipment_attribute').value = range["alternative"]
                            updateBareFields()
                        }
                    }
                },
                error: function (error_data) {
                    alert("Ops, houve algum erro. Por favor, verifique os campos e tente novamente")
                    console.log("Ajax request error: attribute dimension couldn't be confirmed.")
                },
            });

        }else{
            alert("Por favor, confirme se não ha nenhum campo vazio")
        }
    });

    function isEmptyValue(element, index, array){
        return (element == null || element == "")
    }
</script>