
<script>
    // Aqui é personalizado os campos que devem ser verificados antes exibir o custo e/ou postar
    function checkMandatoryFields() {
        var type = $('input[name=type]:checked').val()
        var atribute = document.getElementById('equipment_attribute').value
        var pressure = document.getElementById('pressure').value
        temVazio = [atribute, type, pressure].some(isEmptyValue)
        return !temVazio
    }

    // Relação de campos e valores necessári                                                                                                                                                                                                                                                                                                                                                                                                                                                                    os para calculo do BareCost
    function getData() {

        return {
            'type': $('input[name=type]:checked').val(),
            'equipment_attribute': document.getElementById('equipment_attribute').value,
            'attribute_name': "Area",
            'spares': document.getElementById('spares').value,
            'attribute_dimension': document.getElementById('attribute_dimension').value,
            'moc': $('input[name=moc]:checked').val(),
            'pressure': document.getElementById('pressure').value,
            'pressure_unity': document.getElementById('pressure_unity').value
        }
    }

    function isInPressureRange(){
        const typeEquip = $('input[name=type]:checked').val()
        const materialEquip = $('input[name=moc]:checked').val()
        const pressureOp = document.getElementById('pressure').value
        const pressao = setPressureLimits()
        const conversor = JSON.parse(document.getElementById('conversores').textContent);
        const u = document.getElementById("pressure_unity");
        const unity= u.options[u.selectedIndex].text;
        //console.log("max:"+pressureOp/(conversor[unity] +"//"+pressao[typeEquip][materialEquip]["max"]))
        console.log("pressao:" + pressureOp/(conversor[unity]))
        console.log("max:"+pressureOp/(conversor[unity]) +"//"+pressao[typeEquip][materialEquip]["max"])
        
        console.log("min:"+pressureOp/(conversor[unity]) +"//"+pressao[typeEquip][materialEquip]["min"])
        // console.log("min:"+pressureOp/(conversor[unity] +"//"+pressao[typeEquip][materialEquip]["min"]))

        if ((pressureOp/(conversor[unity])) > pressao[typeEquip][materialEquip]["max"]){
            alert("The Pressure is above " + ((pressao[typeEquip][materialEquip]["max"])*(conversor[unity])) +unity +". Please, check the value.")
            return false
        }        
        if ((pressureOp/(conversor[unity])) < pressao[typeEquip][materialEquip]["min"]){
            alert("The pressure is below " + ((pressao[typeEquip][materialEquip]["min"])*(conversor[unity])) +unity +". Please, check the value.")
             return false
        }
        return true
    }

    $('#pressure').change(function () {
        updateBareFields()
    });

    $('#pressure_unity').change(function () {
        updateBareFields()
    });

</script>