{% extends 'equipamentos/partials/add-equipment-form.html' %}
{% block equipment_title %} Insert Centrifuge {% endblock %}
{% block equipment_content %}

{% include 'partials/scripts/insert_equipment_form/centrifuge.html' %}

        <!-- HEADER FORM -->
        {% include 'equipamentos/partials/insertHeaderForm.html' %}

            <!-- TYPES -->
            {% include 'equipamentos/partials/typeInsertForm.html' %}

            <fieldset class="form-group row">

                <div class="form-row ml-1">
                    <div class="form-group col-md-7 ml:2" >
                        <label for="inputCity">Area of Blender</label>
                        <input type="number" step="0.01" class="form-control" id="area" name="area">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputState">Unidade</label>
                        <select id="inputState" class="form-control" name= "area-unity">
                            <option selected>m²...</option>
                            <option>...</option>
                        </select>
                    </div>

                </div>
            </fieldset>


            {% include 'equipamentos/partials/bare-fields.html' %}
            

            <button type="submit" class="btn btn-primary">Submit</button>

        </div>
    </div>
</form>


{% endblock %}