<th class="col-2" scope="row">
    <button type="button" class="btn btn-outline-danger btn-sm deleteBtn"  onclick='removeEquipment("{{equipment.id}}")' >
        <i class="fas fa-trash"></i>
    </button>
    <button type="button" class="btn btn-outline-success btn-sm deleteBtn"  onclick='editEquipment("{{equipment.id}}")' >
        <i class="far fa-edit"></i>
    </button>
    <button type="button" class="btn btn-outline-primary btn-sm deleteBtn"  onclick='configEquipment("{{equipment.id}}")' >
        <i class="fas fa-cog"></i>
    </button>
</th>