<style>
    .table-reduced-head {
        font-size: 80% !important;
    }

    .table-centralized {
        text-align: center;
    }
</style>


<div class="container-fluid mt-2 ">
    <table id=tabletower class="table table-responsive table-sm table-centralized">
        <thead class="thead-dark">
            <tr class="d-flex table-reduced-head ">
                <th class="col-1 " scope="col">Tower</th>
                <th class="col-2" scope="col">Description</th>
                <th class="col-1" scope="col">Height</th>
                <th class="col-1" scope="col">Diameter</th>
                <th class="col-2" scope="col">Tower MOC</th>
                <th class="col-2" scope="col">Demister MOC</th>
                <th class="col-1" scope="col">Pressure</th>
                <th class="col-2" scope="col">Purchased Equipment Cost</th>
                <th class="col-2" scope="col">Bare Module Cost</th>
                <th class="col-2" scope="col">Base Equipment Cost </th>
                <th class="col-2" scope="col">Base Bare Module Cost</th>
            </tr>
        </thead>
        <tbody>
            <tr class="d-flex">
                <th class="col-1" scope="row">T-101</th>
                <td class="col-2" scope="row">Carbon Steel Valve Trays</td>
                <td class="col-1" scope="row">18</td>
                <td class="col-1" scope="row">1.72</td>
                <td class="col-2" scope="row">Carbon Steel</td>
                <td class="col-2" scope="row"> - </td>
                <td class="col-1" scope="row">10</td>
                <td class="col-2" scope="row">$ 21.700.000</td>
                <td class="col-2" scope="row">$ 39.500.000</td>
                <td class="col-2" scope="row">$ 245.000 </td>
                <td class="col-2" scope="row">$ 394.000</td>
            </tr>
            <tr class="d-flex">
                <th class="col-1" scope="row">T-101</th>
                <td class="col-2" scope="row">Carbon Steel Valve Trays</td>
                <td class="col-1" scope="row">18</td>
                <td class="col-1" scope="row">1.72</td>
                <td class="col-2" scope="row">Carbon Steel</td>
                <td class="col-2" scope="row"> - </td>
                <td class="col-1" scope="row">10</td>
                <td class="col-2" scope="row">$ 21.700.000</td>
                <td class="col-2" scope="row">$ 39.500.000</td>
                <td class="col-2" scope="row">$ 245.000 </td>
                <td class="col-2" scope="row">$ 394.000</td>
            </tr>
            <tr class="d-flex">
                <th class="col-1" scope="row">T-101</th>
                <td class="col-2" scope="row">Carbon Steel Valve Trays</td>
                <td class="col-1" scope="row">18</td>
                <td class="col-1" scope="row">1.72</td>
                <td class="col-2" scope="row">Carbon Steel</td>
                <td class="col-2" scope="row"> - </td>
                <td class="col-1" scope="row">10</td>
                <td class="col-2" scope="row">$ 21.700.000</td>
                <td class="col-2" scope="row">$ 39.500.000</td>
                <td class="col-2" scope="row">$ 245.000 </td>
                <td class="col-2" scope="row">$ 394.000</td>
            </tr>
        </tbody>
    </table>
</div>
