            {% for equipment in equipments %}

            {% if equipment.equipment.name == "Tank" %}
            <tr class="d-flex">
                {% include 'project/tables/table-tools.html'%}
                
                <th class="col-1" scope="row">{{equipment.equipment_code}}</th>
                <th class="col-2" scope="row">{{tbl}}</th>
                <td class="col-2" scope="row">{{equipment.purchased_factor.description}}</td>
                <td class="col-2" scope="row">{{equipment.specification}} ({{equipment.preference_unity}}) </td>
                <td class="col-1" scope="row"> - </td>
                <td class="col-2" scope="row"> - </td>
                <td class="col-1" scope="row"> - </td>
                <td class="col-1" scope="row"> - </td>
                <td class="col-1" scope="row"> - </td>
                <td class="col-2 money " scope="row">{{equipment.purchased_equip_cost}}</td>
                <td class="col-2 money " scope="row">{{equipment.baremodule_cost}}</td>
                <td class="col-2 money " scope="row">{{equipment.base_equipment_cost}}</td>
                <td class="col-2 money " scope="row">{{equipment.base_baremodule_cost}}</td>
            </tr>
            {% endif%}
            {% endfor %}



