<fieldset class="form-group row" disabled>

    <div class="form-row ml-1">
        <div class="form-group col-md-6 ml:2">
            <label for="inputCity">Bare Cost</label>
            <input type="number" step="0.01" class="form-control money" id="bareCost" name="bareCost">
        </div>
        <div class="form-group col-md-6 ml:2">
            <label for="inputCity">Bare Module</label>
            <input type="number" step="0.01" class="form-control money" id="bareModule" name="bareModule">
        </div>
    </div>
</fieldset>

<fieldset disabled hidden>

    <input type="number" class="form-control" id="project" name="project" value="{{project}}" disabled>

</fieldset>


<button type="submit" id="postButton" class="btn btn-primary mb-2">Submit</button>