<fieldset class="form-group row">
    <legend class="col-form-label col-sm-2 float-sm-left pt-0">Type</legend>
    <div class="col-sm-10">
        {% for type in types %}
        {% if equipment_data.purchased_factor.description == type.description %}
        <div class="form-check">
            <input class="form-check-input typeEquipment " type="radio" name="type" id="{{type.description}}"
                value="{{type.description}}" checked>
            {% else %}
            <div class="form-check">
                <input class="form-check-input typeEquipment " type="radio" name="type" id="{{type.description}}"
                    value="{{type.description}}">
                {% endif %}
                <label class="form-check-label" for="{{type.description}}">
                    {{type.description}}
                </label>
            </div>
            {% endfor %}
        </div>
</fieldset>