{% extends 'equipamentos/partials/add-equipment-form.html' %}
{% block equipment_title %} Adiconar {{equipment.name}} {% endblock %}
{% block equipment_content %}
{{ pressureLimits|json_script:"pressureLimits"}}
{{ typesSubtitle|json_script:"typesSubtitle"}}
{{ auxiliarLists|json_script:"auxiliarLists"}}
{{ conversores|json_script:"conversores"}}

{% include 'partials/scripts/insert_equipment_form/evaporator.html' %}
        <!-- HEADER FORM -->
        {% include 'equipamentos/partials/editHeaderForm.html' %}

            <!-- TIPOS -->
            {% include 'equipamentos/partials/typeEditForm.html' %}
            
            <!-- MATERIALS -->
            {% include 'equipamentos/partials/mocEditForm.html' %}

            <!-- ÁREA -->
            <fieldset class="form-group row">
                <div class="form-row ml-1">
                    <div class="form-group col-md-7 ml:2">
                        <label for="equipment_attribute">Volume of Blender</label>
                        <input type="number" step="0.01" min="0.01" class="form-control" id="equipment_attribute"
                            name="equipment_attribute" value="{{equipment_data.specification}}">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="attribute_dimension">Unity</label>
                        <select id="attribute_dimension" class="form-control" name="attribute_dimension">
                            {% for unity in unitys %}
                            {% if equipment_data.preference_unity == unity %}
                            <option value="{{unity.id}}" selected>{{unity.unity}}</option>
                            {% else %}
                            <option value="{{unity.id}}"> {{unity.unity}} </option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </fieldset>


            <!-- Pressure -->
            <fieldset class="form-group row">
                <div class="form-row ml-1">


                    <div class="form-group col-md-7 ml:2">
                        <label for="pressure">Operation Pressure</label>
                        <input type="number" step="0.01" min="0.01" class="form-control" id="pressure"
                            name="pressure" value="{{equipment_data.pressure}}">
                    </div>

                    <div class="form-group col-md-4">
                        <label for="pressure_unity">Unity</label>
                        <select id="pressure_unity" class="form-control" name="pressure_unity">
                            {% for unity in pressureUnity %}
                            {% if unity.is_default is True %}
                            <option value="{{unity.id}}" selected>{{unity.unity}}</option>
                            {% else %}
                            <option value="{{unity.id}}"> {{unity.unity}} </option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </fieldset>

            <!-- SPARES -->
            {% include 'equipamentos/partials/sparesEditForm.html' %}

            {% include 'equipamentos/partials/bare-fields.html' %}
        </div>
    </div>
</form>
{% include 'equipamentos/partials/equipmentsElemAfterForm.html' %}

{% endblock %}