{% extends 'equipamentos/partials/add-equipment-form.html' %}
{% block equipment_title %} Adiconar {{equipment.name}} {% endblock %}
{% block equipment_content %}


<!--form action=""  method="POST"-->

<form action="{% url 'turton:post_equipamento' equipment_id %}"  method="POST">
    {% csrf_token %}
    <div class="form">

        <h3> Blender </h3>

        <div class="container-fluid mb-2 mt-2" style="border:1px solid #cecece;">

            </ul>


            <fieldset class="form-group row">
                <legend class="col-form-label col-sm-2 float-sm-left pt-0">Tipo</legend>
                <div class="col-sm-10">

                    {% for type in types %}
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="type" id="{{type.description}}"
                            value="{{type.description}}">
                        <label class="form-check-label" for="gridRadios1">
                            {{type.description}}
                        </label>
                    </div>
                    {% endfor %}



                </div>
            </fieldset>

            <fieldset class="form-group row">

                <div class="form-row ml-1">
                    <div class="form-group col-md-7 ml:2" >
                        <label for="inputCity">Area of Blender</label>
                        <input type="number" step="0.01" class="form-control" id="area" name="area">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputState">Unidade</label>
                        <select id="inputState" class="form-control" name= "area-unity">
                            <option selected>m²...</option>
                            <option>...</option>
                        </select>
                    </div>

                </div>
            </fieldset>


            {% include 'equipamentos/partials/bare-fields.html' %}
            

            <button type="submit" class="btn btn-primary">Submit</button>

        </div>
    </div>
</form>
{% include 'equipamentos/partials/equipmentsElemAfterForm.html' %}

{% endblock %}