{% load static %}
<!-- ##### Header Area Start ##### -->
    <header class="header-area">

        <!-- Top Header Area -->
        <div class="top-header-area">
            <div class="container h-100">
                <div class="row h-100 align-items-center justify-content-between">
                    <!-- Breaking News -->
                    <ul>
                        <li><a href="{% url 'usuarioapp:home' %}">Home</a></li>
                    </ul>

                    <ul>
                        <li><a href="{% url 'capitalcost:index' %}">Financeiro</a></li>
                    </ul>
                    <ul>
                        <li><a href="{% url 'equipamentos:index' %}">Equipmentos</a></li>
                    </ul>
                    <!-- Top Social Info -->
                </div>
            </div>
            
        </div>

    </header>
    <!-- ##### Header Area End ##### -->