<style>
    .table-reduced-head {
        font-size: 70% !important;
    }

    .table-centralized {
        text-align: center;
    }
</style>


<h2> CAPITAL COST - CAPEX </h2>

<div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">

    <div class="btn-group">
        <button id="addEquipment" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
            aria-expanded="false">
            New Equipment
        </button>
        <div class="dropdown-menu" aria-labelledby="addEquipment">
            {% for equipment in list_equipments %}
            <a class="dropdown-item"
                href="{% url 'capex:equipment' project.project_number equipment.id %}">{{equipment}}</a>
            {% endfor %}
        </div>
    </div>
    <div class="btn-group">
        <button id="project" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
            aria-expanded="false">
            Unity Project
        </button>
        <div class="dropdown-menu" aria-labelledby="project">
            {% for project in list_projects %}
            <a class="dropdown-item" href="{% url 'capex:project' project %}">{{project}}</a>
            {% endfor %}
        </div>
    </div>

    <div class="btn-group">
        <a class="btn btn-secondary" href="{% url 'capex:createProject'  %}" role="button">New Unity</a>
    </div>
</div>


<!-- TODO: Pensar em uma maneira mais eficiente de chamar os includes necessários -->
<div class="container-fluid mt-2">
    <table id="tableblender" class="table table-responsive table-sm table-centralized">
        <thead class="thead-dark">
            <tr class="d-flex table-reduced-head" id="{{tbl}}">
                <th class="col-2" scope="col"> Options </th>
                <th class="col-1" scope="col"> Equip. Code </th>
                <th class="col-2" scope="col"> Equipment </th>
                <th class="col-2" scope="col"> Type </th>
                <th class="col-2" scope="col"> Techinical Feature (unity) </th>
                <th class="col-1" scope="col"># Spares</th>
                <th class="col-2" scope="col">Pressure (unity)</th>
                <th class="col-1" scope="col"> M.O.C.</th>
                <th class="col-1" scope="col">     </th>
                <th class="col-1" scope="col">     </th>
                <th class="col-2" scope="col">Purchased Equipment Cost</th>
                <th class="col-2" scope="col">Bare Module Cost</th>
                <th class="col-2" scope="col">Base Equipment Cost </th>
                <th class="col-2" scope="col">Base Bare Module Cost</th>
            </tr>
        </thead>
        <tbody id="blenderBody">
        {% for tbl in tables_list %}
            {% if tbl == "Blender" %}
            {% include 'equipamentos/tables/blender.html'%}
            {% endif%}
            {% if tbl == "Centrifuge" %}
            {% include 'equipamentos/tables/centrifuge.html'%}
            {% endif%}
            {% if tbl == "Evaporator" %}
            {% include 'equipamentos/tables/evaporator.html'%}
            {% endif%}
            {% if tbl == "Compressor" %}
            {% include 'equipamentos/tables/compressor.html'%}
            {% endif%}
            {% if tbl == "Conveyor" %}
            {% include 'equipamentos/tables/conveyor.html'%}
            {% endif%}
            {% if tbl == "Crystallizer" %}
            {% include 'equipamentos/tables/crystallizer.html'%} 
            {% endif%}     
            {% if tbl == "Drive" %}
            {% include 'equipamentos/tables/driver.html'%}
            {% endif%}  
            {% if tbl == "Dryer" %}
            {% include 'equipamentos/tables/dryer.html'%}
            {% endif%}  
            {% if tbl == "Dust Collector" %}
            {% include 'equipamentos/tables/dust_collector.html'%}
            {% endif%}  
            {% if tbl == "Vaporizer" %}
            {% include 'equipamentos/tables/vaporizer.html'%}
            {% endif%} 
            {% if tbl == "Fan" %}
            {% include 'equipamentos/tables/fan.html'%}
            {% endif%} 
            {% if tbl == "Filter" %}
            {% include 'equipamentos/tables/filter.html'%}
            {% endif%} 
            {% if tbl == "Pump" %}
            {% include 'equipamentos/tables/pump.html'%}
            {% endif%} 
            {% if tbl == "Mixer" %}
            {% include 'equipamentos/tables/mixer.html'%}
            {% endif%} 
            {% if tbl == "Reactor" %}
            {% include 'equipamentos/tables/reactor.html'%}
            {% endif%} 
            {% if tbl == "Screen" %}
            {% include 'equipamentos/tables/screen.html'%}
            {% endif%} 
            {% if tbl == "Tank" %}
            {% include 'equipamentos/tables/tank.html'%}
            {% endif%} 
            {% if tbl == "Turbine" %}
            {% include 'equipamentos/tables/turbine.html'%}
            {% endif%} 
            {% endfor %}
        </tbody>

    </table>
</div>


{% include 'equipamentos/tables/total-capex-report.html' %}

<script>
    function removeEquipment(equipment_id) {

        let url = "{% url 'capex:removeEquipment' project.project_number 999 %}".replace(999, equipment_id);

        $.ajax({
            method: "GET",
            url: url,
            success: function (response) {
                document.location.reload(true);
            },
            error: function (error_data) {
                alert("Ops, there was a problem. Pleace, contact your service manager")
                console.log(error_data)
            },
        });
    }


    function editEquipment(equipment_id) {
        let url = "{% url 'capex:editEquipment' project.project_number 999 %}".replace(999, equipment_id);
        window.location = url;
    }

    function configEquipment(equipment_id) {
        let url = "{% url 'opex:configEquipment' project.project_number 999 %}".replace(999, equipment_id);
        window.location = url;
    }

    function deletarProjeto() {
        let url = "{% url 'capex:deleteProject' project.project_number %}"
        console.log(url)

        $.ajax({
            method: "GET",
            url: "{% url 'capex:deleteProject' project.project_number %}",
            success: function (response) {
                console.log(response)
                window.location = "{% url 'capex:index' %}";

            },
            error: function (error_data) {
                alert("Ops, there was a problem. Pleace, contact your service manager")
                console.log(error_data)
            },
        });

    }
</script>


<button type="button" class="btn btn-danger mb-3" onclick="deletarProjeto()"> Delete Project </button>



{% block scripts %}

{% endblock %}